.home-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-page-home-page {
  width: 100%;
  height: 3784px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 110px;
  position: absolute;
}
.home-page-group21 {
  top: 1332px;
  left: 91px;
  width: 1271px;
  height: 736px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text {
  color: rgba(0, 0, 0, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup {
  top: 50px;
  left: 0px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle28 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover202404279235 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text02 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text04 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup01 {
  top: 50px;
  left: 960px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2801 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923501 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text06 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text08 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup02 {
  top: 50px;
  left: 640px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2802 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923502 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text10 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text12 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup03 {
  top: 50px;
  left: 320px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2803 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923503 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text14 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text16 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup04 {
  top: 393px;
  left: 0px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2804 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923504 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text18 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text20 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup05 {
  top: 393px;
  left: 960px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2805 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923505 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text22 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text24 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup06 {
  top: 393px;
  left: 640px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2806 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923506 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text26 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text28 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup07 {
  top: 393px;
  left: 320px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2807 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923507 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text30 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text32 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-copywriting {
  top: 936px;
  left: 0px;
  width: 1440px;
  height: 215px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-text34 {
  top: -3px;
  left: 574px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Most Wazted;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text36 {
  top: 81px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  width: 1213px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-frame1321314404 {
  top: 99px;
  left: 0px;
  width: 1440px;
  height: 656px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(235, 69, 17, 1);
  border-style: solid;
  border-width: 1px;
}
.home-page-rectangle4212 {
  top: -2px;
  left: 0px;
  width: 1440px;
  height: 656px;
  position: absolute;
}
.home-page-screenshot20240427092310fotorbgremover20240427923508 {
  top: -194.6697540283203px;
  left: 1050.8509521484375px;
  width: 664px;
  height: 632px;
  position: absolute;
}
.home-page-text38 {
  top: 310px;
  left: 119px;
  color: rgba(0, 0, 0, 1);
  width: 512px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text42 {
  top: 235px;
  left: 224px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Most Wazted;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text44 {
  top: 2936px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup08 {
  top: 2986px;
  left: 84px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2808 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923509 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text46 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text48 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup09 {
  top: 2986px;
  left: 1044px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2809 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923510 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text50 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text52 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup10 {
  top: 2986px;
  left: 724px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2810 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923511 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text54 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text56 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup11 {
  top: 2986px;
  left: 404px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2811 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923512 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text58 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text60 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup12 {
  top: 3329px;
  left: 84px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2812 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923513 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text62 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text64 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup13 {
  top: 3329px;
  left: 1044px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2813 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923514 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text66 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text68 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup14 {
  top: 3329px;
  left: 724px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2814 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923515 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text70 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text72 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-maskgroup15 {
  top: 3329px;
  left: 404px;
  width: 311px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle2815 {
  top: 33px;
  left: 0px;
  width: 298px;
  height: 310px;
  position: absolute;
  border-radius: 20px;
}
.home-page-screenshot20240427092310fotorbgremover20240427923516 {
  top: 0px;
  left: 24px;
  width: 250px;
  height: 328px;
  position: absolute;
}
.home-page-text74 {
  top: 242px;
  left: 36px;
  color: rgba(236, 236, 236, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text76 {
  top: 261px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-frame1321314405 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 99px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-rectangle4213 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 99px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(235, 69, 17, 1);
  border-style: solid;
  border-width: 1px;
}
.home-page-text78 {
  top: 40px;
  left: 1158px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text80 {
  top: 40px;
  left: 1034px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle3 {
  top: 35px;
  left: 47px;
  width: 318px;
  height: 39px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-page-search {
  top: 45px;
  left: 59px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-page-text82 {
  top: 43px;
  left: 93px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-logo {
  top: 23px;
  left: 658px;
  width: 125px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text84 {
  top: 21px;
  left: 17px;
  color: rgba(235, 69, 17, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Most Wazted;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text86 {
  color: rgba(235, 69, 17, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Most Wazted;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle4211 {
  top: 32px;
  left: 1285px;
  width: 93px;
  height: 47px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
}
.home-page-text88 {
  top: 38px;
  left: 1299px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
